.web-gif {
  position: fixed;
  bottom: 5px;
  right: 40px;
  z-index: 1000;
  width: 150px;
  height: auto;
  cursor: move;
}

.text-bubble{
  position: fixed; 
  bottom: 100px; 
  right: 10px; 
  z-index: 1001; 
  width : 200px;
  height : 200px;
  background: white; 
  overflow: auto;
  border-radius: 0.3rem;
}

.description{
  font-size: 25pt;
}